@charset "UTF-8";
/*When modifying this code, we recommend copying the code and lowering its priority.*/

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}
header {
    background-color: #0068a5;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
button {
    cursor: pointer;
}
@media (max-width: 1024px) {
    header {
        position: static;
    }
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header-content h1 {
    margin: 0;
}
.header-content h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
#global_navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#global_navi li {
    margin-left: 20px;
}
#global_navi a {
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    text-decoration: none;
    position: relative;
}
#global_navi a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
#global_navi a:hover::after {
    transform: scaleX(1);
}
#global_navi svg {
    margin-right: 5px;
}
#menu-toggle {
    display: none;
    cursor: pointer;
    flex-direction: column;
}
#menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    margin: 5px 0;
}
#hamburger_nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    padding: 20px;
}
#hamburger_nav.active {
    display: block;
    text-align: center;
}
#hamburger_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#hamburger_nav li {
    margin: 20px 0;
}
#hamburger_nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
#close-nav {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
    color: white;
}
#main {
    padding: 20px;
    margin-top: 80px;
}
@media (max-width: 1024px) {
    #main {
        margin-top: 0px;
    }
}
#hero {
    position: relative;
}
.slider {
    transition: transform 0.5s ease-in-out;
    position: relative;
    max-width: 100%;
    margin: auto;
}
.slide {
    display: none;
}
.slide img {
    width: 100%;
    height: auto;
}
.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}
.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    background: #aaa;
    border-radius: 50%;
    cursor: pointer;
}
.indicator.active {
    background: #333;
}
#playPauseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2em;
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}
.prev {
    left: 10px;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}
#notification-banner {
    position: relative; 
    background-color: #ffeb3b; 
    padding: 10px; 
    text-align: center; 
    margin: 20px 0; 
}

.notification .pin {
    position: absolute; 
    width: 12px; 
    height: 12px; 
    background: linear-gradient(to bottom right, #ff5722, #c62828); /* グラデーション */
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s; 
}

.notification .pin:hover {
    transform: scale(1.1);
}

.notification .pin.left {
    top: -6px; 
    left: 10%; 
}

.notification .pin.right {
    top: -6px; 
    right: 10%; 
}
.notification-banner p {
    margin: 0;
}
.notification-banner button {
    background-color: #0068a5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-left: 20px;
}
.notification-banner button:hover {
    background-color: #004b78;
}
/*
.install-popup {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
    text-align: center;
    z-index: 1000;
}
.install-popup p {
    margin: 0;
    font-size: 16px;
}
.install-popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.install-popup button:hover {
    background-color: #0056b3;
}
#close-btn {
    background-color: #6c757d;
}

#close-btn:hover {
    background-color: #5a6268;
}
*/
.cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookie-popup p {
    margin: 0;
    font-size: 14px;
}

.cookie-popup button {
    background-color: #00b7ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cookie-popup button:hover {
    background-color: #007ea5;
}
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}
footer ul {
    list-style: none;
    padding: 0;
}
footer ul li {
    display: inline;
    margin: 0 10px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #global_navi {
        display: none;
    }
    #menu-toggle {
        display: flex;
    }
    header {
        position: static;
    }
}
@media (min-width: 769px) {
    #hamburger_nav {
        display: none;
    }
}